<div class="navbar">
  <div class="left-column">
    <a class="navbar-title" href="/hotels">HOME</a>
  </div>
  <!-- <input /> -->
  <div class="right-column">
    <% if(role !== 'admin'){ %>
    <a class="navbar-title">My Booking</a>
    <a class="navbar-title" href="/login"> Login </a>
    <% } else { %>
    <a class="navbar-title" href="/hotels/add">Add Hotels</a>
    <a class="navbar-title" href="/logout"> Logout </a>
    <% }%>
  </div>
</div>
